.baseBackground {
    background-image: url(../img/home_background.JPG);
    background-size: cover;
    color: white;
}

/*.backgroundHue {*/
/*    background-color: #416EB6;*/
/*    opacity: 0.4;*/
/*}*/

.content-nav {
    height: 5%;
    display: flex;
    text-align: center;
    vertical-align: bottom;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.contentTab {
    text-align: center;
}

.contentCanvas {
    height: 85%;
    display: flex;
    justify-content: center;
}

.pageContent {
    margin: 25px;
    height: 95%;
    width: 100%;
}

.noMarginRow {
    margin-right:0;
    margin-left:0;
}

/*.musicCol {
    display: flex;
    justify-content: center;
}*/