/****************************COMMON STYLE****************************/

html, body {
    height: 100%;
    width: 100%;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.body {
    background-size: cover;
    color: white;
    min-height:100%;
}

.navigator {
    height: 5%;
    max-height: 5%;
    justify-content: flex-end;
    background-color:rgba(0,0,0,0.7);
    color: white;
}

.active-nav-button {
    color: #cc93df;
    border-bottom-style: solid;
    border-bottom-color: #cc93df;
}

.content {
    padding-top: 15px;
    height: 95%;
    max-height: 95%;
    background-color:rgba(0,0,0,0.3);
}

/****************************PAGES****************************/

.homePage {
    flex-direction: column;
    justify-content: left;
    vertical-align: center;
}

.homePageTitle {
    height: 30%;
    font-size: 55px;
    font-weight: lighter;
    align-items: flex-end;
}

.homePageBody {
    width: 50%;
    height: 70%;
    font-size: 20px;
    justify-content: flex-end;
}

/****************************COMPONENT STYLE****************************/

.constructionNotice {
    height: 35%;
    margin: 15px 15px;    
    background-color:rgba(0,0,0,0.7);
}

.constructionNote {
    width: 70%;
    font-weight: bold;
}

.constructionImage {
    width: 30%;
}

.constructionImage > img {
    height: 100%;
    width: auto;
    overflow-x: hidden;
    background: transparent;
}