.body {
    background-image: url(../img/home_background.png);
    background-size: cover;
    color: white;
    height:100%;
    min-height:100%;
    width:100%;
}

/*.backgroundHue {*/
/*    background-color: #416EB6;*/
/*    opacity: 0.4;*/
/*}*/

.navigator {
    height: 5%;
    display: flex;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    align-items: flex-end;
    width: 100%;    
    background-color:rgba(0,0,0,0.4);
    color: white;
}

.contentCanvas {
    height: 85%;
    display: flex;
    justify-content: center;
}

.pageContent {
    margin: 25px;
    height: 95%;
    width: 100%;
}

.noMarginRow {
    margin-right:0;
    margin-left:0;
}

/*.musicCol {
    display: flex;
    justify-content: center;
}*/